.color-priamry {
  color: #409EFF !important;
}
.color-success {
  color: #67C23A !important;
}
.color-warning {
  color: #E6A23C !important;
}
.color-danger {
  color: #F56C6C !important;
}
.color-dark {
  color: #333 !important;
}
.color-gray {
  color: #999 !important;
}


